.padded {
    display: inline-block;
    padding: 8px;
}

.info-box {
    position: absolute;
    z-index: 1;
    border: thick solid rgba(30, 30, 30, 0.7);
    background-color: #ffe;
}

button.close {
    position: absolute;
    top:   4px;
    right: 4px;
}

ul.unbulleted {
    padding: 0px;
    margin:  0px;
    list-style-type: none;
}

h3 {
    margin: 0.5em 0em;
}

html, body {
    margin:  0px;
    padding: 0px;
    height: 100%;
    width:  100%;
}

#title {
    color: #ddd;
}

#menu-bar {
    position: absolute;
    top:     0px;
    bottom: 42px;
    width:  100%;
    background-color: #333;
}

#contents {
    position: absolute;
    top:   42px;
    bottom: 0px;
    width: 100%;
}

#map-canvas {
    width:  100%;
    height: 100%;
    background-color: #ccf;
}

#layer-selector {
    top:     10px;
    left:    10px;
    width:  200px;
    height: 200px;
}

#advance-search {
    top:     10px;
    left:   400px;
    width:  300px;
    height: 100px;
}

#search-result {
    top:     10px;
    bottom:  10px;
    right:   10px;
    width:  350px;
    min-height: 200px;
}
